@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
/* shared style */
.text-centre{
    text-align: center;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255,255,255);
    background-color: #FF900E;
    padding: 22px;
    border-radius: 8px;
    margin-top: 30px;
}
.gray{
    color: #727272;
}
.black{
    color: #131313;
}
.orange{
    color: #FF900E;
}
main{
    width: 75%;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}
/* navigation section */
header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
}
nav {
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
}
nav li {
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
}
.navbar{
    display: flex;
    gap: 40px;
}
nav h3{
    font-size:3rem;
    font-weight: 700;
}
/* content section */
.content{
    width: 80%;
    margin: 0 auto;
}

h2{
    font-size:4rem;
font-weight: 700;
margin-bottom: 30px;
}
.banner-content{
    width: 40%;
    margin: 0 auto;
}
.banner-img{
   margin: 50px auto;
   max-width: 100%;
}
/* feature section */
.feature{
    display: flex;
    gap: 70px;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.feature-content h3{
    font-size: 3rem;
    font-weight: 700;
}
.feature-content p{
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* responsive */
@media screen and (max-width : 576px) {
    nav,.feature{
        flex-direction: column;
    }
    .navbar, nav{
        gap: 20px;
    }
    .banner-content{
        width: 90%;
    }
    h2{
        font-size: 2rem;
    }
    .feature-img{
        grid-template-columns: repeat(1,1fr);
    }
}